.btn-text-style {
  font-size: 1.75rem;
  text-align: center;
  color: #e8eaed;
}
.btn-container-style {
  width: 30%;
  background-color: #23293B;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
}
@media (max-width: 500px) {
  .btn-container-style {
    width: 100%;
    padding: 20px 0px;
  }
}
.row-center {
  justify-content: center;
}
.flexbox {
  display: flex;
}
.btn-style {
  font-size: 1.75rem;
  text-align: center;
  color: #e8eaed;
  width: 30%;
  background-color: #23293B;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
}
@media (max-width: 500px) {
  .btn-style {
    width: 100%;
    padding: 20px 0px;
  }
}
.center {
  justify-content: center;
  display: flex;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    max-width: 100%;
  }
}
.nav-section {
  font-style: #454A59;
  background-color: #e9e9e9;
  border: 1px solid #dddddd;
}
.nav-section h1 {
  justify-content: center;
  display: flex;
  font-size: 3.5rem;
  margin: 10px 0px;
}
.nav-section nav ul {
  justify-content: center;
  display: flex;
  flex-flow: row nowrap;
}
.nav-section nav ul li {
  margin: 10px 20px;
}
@media (max-width: 500px) {
  .nav-section nav ul li {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    width: 80%;
    margin: auto;
  }
}
.nav-section nav ul li a {
  text-decoration: none;
  font-style: inherit;
  font-size: 1.5rem;
  font-weight: 600;
  color: #23293B;
}
footer {
  color: #202123;
  background: #d0d0d0;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: bold;
  border: 1px solid #c3c3c3;
}
.home .intro .main-header-img {
  border-radius: 5px;
  width: 100%;
}
@media (max-width: 500px) {
  .home .intro .main-header-img {
    width: 100%;
  }
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 500px) {
  .home .space-images {
    flex-direction: column;
  }
  .home .space-images .sky {
    display: none;
  }
  .home .space-images .launch {
    display: none;
  }
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width: 500px) {
  .home .space-images img {
    align-content: center;
    width: 90%;
  }
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  justify-content: center;
  display: flex;
}
.home .walk .walk-text {
  width: 50%;
}
@media (max-width: 500px) {
  .home .walk .walk-text {
    width: 100%;
    padding: 10px;
  }
}
.home .walk h3 {
  margin-bottom: 10px;
}
.home .walk p {
  margin-bottom: 26px;
}
.home .walk .btn-div .btn {
  font-size: 1.75rem;
  text-align: center;
  color: #e8eaed;
  width: 30%;
  background-color: #23293B;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
}
@media (max-width: 500px) {
  .home .walk .btn-div .btn {
    width: 100%;
    padding: 20px 0px;
  }
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .home .walk .walk-img {
    align-content: center;
    width: 90%;
  }
}
@media (max-width: 500px) {
  .home .walk {
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
    margin-top: 10px;
  }
}
